@media only screen and (max-width: 767px){

	header figure img{
		width: 60%;
		max-height: 720px;
		text-align: center;
	}

	header .primary-text{
	    padding: 10px 0 40px;
	    text-align: center; 
	}
	
	header .primary-text p{
	    font-size: 18px;
	    text-align: center;
	}

	header .header-button{
	    display: block;
	}

	header .header-button .btn{
	    width: 100%;
	
	}

	h2{
		font-size: 40px;
		padding-bottom: 20px;
	}

	.carousel {
	    padding: 30px;
	}


	.carousel h1{
	        font-size: 30px;
	}

	#project .inner-content {
	    margin: 35px 0 0;
	}
}/*End*/

@media only screen and (min-width: 768px){
	
	.hr-mobile{
		display: none;
	}

	header .primary-text{
	    padding: 30px 0 40px;
	}
}/*End*/

@media only screen and (min-width: 992px){

	header .primary-text{
	    padding: 150px 0 40px;
	}

	header .primary-text h1 strong{
	    font-size: 80px;
	}

	header .primary-text h1{
	    font-size: 35px;
	}
}/*End*/

@media only screen and (min-width: 1200px){

	header{
		height: 100vh;
		min-height: 1000px;
	}

	header .primary-text{
	    padding: 185px 0 40px;
	}

	header .primary-text h1 strong{
	    font-size: 150px;
	}

	header .primary-text h1{
	    font-size: 59px;
	}

	.carousel {
	    padding: 50px 100px;
	}

	.carousel h1{
	    font-size: 45px;
	}

	.carousel p{
	    font-size: 18px;

	}
}/*End*/